:root {
	--secondary-bg: #f4f4f4;
	--accent: #5e9aff;
	--dark-accent: #1e68e7;
	--border-color: #999;
}

body {
	font-family: sans-serif;
	margin: 0;
}

h1,
.logo {
	font-family: serif;
}

fieldset {
	border: 1px solid var(--border-color);
	border-radius: 2px;
	margin: 0;
}

input,
select {
	border: none;
	background: var(--secondary-bg);
	border-bottom: 1px solid var(--border-color);
	padding: 0.25em;
}

button {
	border: none;
	background: #dddddd;
	color: black;
	padding: 0.5em 0.75em;
	border-radius: 4px;
	cursor: pointer;
}

button.progressive {
	background: var(--accent);
	color: white;
}

button.destructive {
	background: #d40d0d;
	color: white;
}