.table {
	display: grid;
	white-space: nowrap;
	overflow-x: auto;
	margin-bottom: 1em;
	line-height: 1.5;
}

.table > :deep(:not(.start)) {
	padding-left: 0.25em;
}

.table > :deep(:not(.end)) {
	padding-right: 0.25em;
}

.table .header {
	font-weight: bold;
	border-bottom: 1px solid black;
}

.table h2 {
	margin: 0.5em 0;
}

.table :deep(.border),
.table .header {
	border-bottom: 1px solid black;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
}

.table :deep(.value) {
	text-align: right;
}

.table :deep(.pre-total) {
	border-bottom: 1px solid black;
}

.table :deep(.total) {
	border-bottom: 3px double black;
}