.table {
	display: grid;
	white-space: nowrap;
	grid-column-gap: 8px;
	overflow-x: auto;
	margin-bottom: 1em;
	line-height: 1.3;
}

.table .header {
	margin-bottom: 0.5em;
	font-weight: bold;
}

.table h2 {
	margin: 0.5em 0;
}

.table :deep(.value) {
	text-align: right;
}

.table :deep(.pre-total) {
	border-bottom: 1px solid black;
}

.table :deep(.total) {
	border-bottom: 3px double black;
}